body{
    background-image: url('/proyecto-cine/images/6dfbacc3-bced-45e7-ac0b-cb9f49ebdfff_16-9-discover_1200x675.jpg');
    background-size: cover;
    background-attachment: fixed;
    color:#ccc
    
}

footer{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    border-style:solid;

}

#nav ul{
    list-style-type: none;
    text-align: center;
}

#nav li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

#nav li a{
    padding: 7px 7px 7px 7px;
    color: black;
    background-color: rgb(255, 255, 255);
    border:1px solid #ccc;
    text-decoration: none;
}

#nav li a:hover{
    background-color: rgb(128, 5, 5);
    color: black;
}


.articulos_animacion{
    background: rgba(119, 116, 116, 0.5);
    border-radius: 3%;
    height: 600x;
    width: 750px;
    margin:5px;
    padding:20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.articulo_animacion{
    background-color: rgb(235, 180, 99);
    border-radius: 3%;
    text-align: center;
    margin:15px;
    padding:10px;
    color: black;
    border-style: solid;

}

.articulo_animacion img{
    height:600px;
    width: 450px;
}

.articulo_animacion iframe{
    height:450px;
    width: 600px;
}

.articulo_animacion a{
    color:black;
}

.articulo_animacion header{
    color:rgb(0, 0, 0);
    text-align: center;
}

.articulo_animacion a:hover{
    color:rgb(255, 255, 255);
}

.articulos_terror{
    background: rgba(119, 116, 116, 0.5);
    border-radius: 3%;
    height: 600x;
    width: 750px;
    margin:5px;
    padding:20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.articulo_terror{
    background-color: rgb(99, 31, 31);
    text-align: center;
    border-radius: 3%;
    height: 700x;
    width: 700px;
    margin:10px;
    padding:5px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    
}
.articulo_terror iframe{
    height: 450px;
    width: 600px;
}

.articulo_terror img{
    height:600px;
    width: 450px;
}

.articulo_terror video{
    height:450px;
    width: 600px;
}

.articulo_terror a{
    color:black;
}

.articulo_terror a:hover{
    color:white;
}

.articulo_terror header{
    color:black;
    text-align: center;
}

.articulos_drama{
    background: rgba(119, 116, 116, 0.5);
    border-radius: 3%;
    height: 600x;
    width: 750px;
    margin:5px;
    padding:20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.articulo_drama{
    background-color: rgb(79, 124, 248);
    border-radius: 3%;
    text-align: center;
    margin:15px;
    padding:10px;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: black;

}

.articulo_drama img{
    height:600px;
    width: 450px;
}

.articulo_drama iframe{
    height:450px;
    width: 600px;
}

.articulo_drama a{
    color:black;
}

.articulo_drama header{
    color:rgb(0, 0, 0);
    text-align: center;
}

.articulo_drama a:hover{
    color:white;
}

.articulos_accion{
    background: rgba(119, 116, 116, 0.5);
    border-radius: 3%;
    height: 600x;
    width: 750px;
    margin:5px;
    padding:20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.articulo_accion{
    background-color: rgb(79, 182, 88);
    border-radius: 3%;
    text-align: center;
    margin:15px;
    padding:10px;
    color: black;
    border-style: solid;
    border-color: black;

}

.articulo_accion img{
    height:600px;
    width: 430px;
}

.articulo_accion iframe{
    height:450px;
    width: 600px;
}

.articulo_accion a{
    color:black;
}

.articulo_accion header{
    color:black;
    text-align: center;
}

.articulo_accion a:hover{
    color:rgb(255, 255, 255);
}

.boton_inicio{
    text-align: center;
    color: white;

}

.boton_inicio img{
    height: 100px;
    width: 100px;
    
}


.tabla{
      width: 30%;
      border-collapse: collapse;
      background-color: (79, 182, 88);
      text-align: center;
      margin: 0 auto;
      
    }

    td{
      width: 30%;
      border: 1px solid black;
      text-align: center;
    }

    .encabezado_secciones{
        font-size: 25px;
        text-decoration: none;
    }

    .linea{
        border-top: 3px dotted;
        height: 2px;
        padding: 0;
        margin: 20px auto 0 auto;
        margin-bottom: 30px;
    }
